.fuse_hidden*
.*.swo
.*.swp
*.o
*.pdb
*.elf
*.a
*.so
*.so.*
*.lib
*.ko
*.i
*.d
*.plist
*.pb.cc
*.pb.h
*_pb2.py
CMakeCache.txt
CMakeFiles
cmake_install.cmake
.cache/
compile_commands.json
cscope.files
cscope.in.out
cscope.out
cscope.po.out
tags
.vs
.vscode
gccdump.s
<stdin>.s
__pycache__
*.pyc
.~*

# ---- Project-specific rules below ----

*.log
.build
_tmp_
*.tmp
.tmp_versions
core.*
*.mod
*.mod.c
*.cmd
Module.symvers
modules.order
checkout.git.mk
checkout.svn.mk

3rdparty/*
!3rdparty/__chkout__
!3rdparty/Makefile
/dkms.conf

